body {
    background: #8AB9F1;
    color: #FFFFFF;
    font-family: 'Abysinica SIL'

}

.spacing {
    margin: 10px;
}

.menu {
    text-align: center;
}

.picture {
    margin: 10px;
}

h1 {
    margin: 10px;
}

h3 {
    margin: 10px;
}

h5 {
    margin: 10px;
}

h7 {
    margin: 10px;
}

.navbar-nav {
    margin: 10px;
    font-size: 23px;
}

p {
    margin: 10px;
}

.resume-list {
    margin: 15px;
}

* a {
    color: #ffffff;
}