
body {
   font-family: 'Times New Roman', sans-serif;
   text-align: center;
}

p:first-of-type:first-letter {
   font-family: 'Times New Roman', sans-serif;
   text-align: center; 
}

h1 {

   font-family: 'Times New Roman', sans-serif;

   color: black;

   font-size: 4em;

   text-align: center;
}

@media (max-width: 400px) {
   h1 {
      font-size: 1em;
   }

}

h4 {

   font-family: 'Times New Roman', sans-serif;
   font-weight: 800;
   text-transform: uppercase;
   font-size: 0.8em;
   text-align: center;

}

blockquote {
   margin: 0;
   padding: 0;
   color: black
   font-family: 'Times New Roman', sans-serif;
   text-align: center;

 }

.header-one {
   text-align: left;
   font-size: 2.5em;
}